<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon style="font-size: 33px;" (click)="goBack()" name="close-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="app/categories/product"></ion-back-button> -->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <img class="logo" src="assets/logo.png">
    <!-- <ion-title>Product Details</ion-title> -->
    <ion-buttons slot="end">
      <ion-icon name="heart-outline" class="heart_icon" [routerLink]="['/favourites']"></ion-icon>
      <ion-icon name="home-outline" class="menu_icon" [routerLink]="['/categories']"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="pinch-div">
      <img class="pinch-img" src="assets/pinch.png">
  </div>
  <ion-slides pager="false" [options]="slidesOptions" #slides (ionSlideDidChange)="getIndex()">
    <ion-slide *ngFor="let image of images; let i=index">
      <img [src]="image">
    </ion-slide>
  </ion-slides>
  <!-- <h4 class="centered">{{currentNumber}} /{{allNumber}}</h4> -->
  <div class="centered">
    <h4 class="lbl-current-number">{{currentNumber}}</h4>
    <h4>/{{allNumber}}</h4>
  </div>
</ion-content>