<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <img class="logo" src="assets/logo.png">
    <!-- <ion-title>Privacy Policy</ion-title> -->
    <ion-buttons slot="end">
      <ion-icon name="home-outline" class="menu_icon" [routerLink]="['/categories']"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="food-details-content">
  <div class="reviews-wrapper">
    <h3 class="detail-title">Privacy Policy</h3>
    <div class="reviews-list">
      <div class="review-item">
        <p class="review-message">
          In the course of using this application, or its custom extensions, Blue Star and its Affiliates may become privy to the personal information of its customers, including information that is of a confidential nature. By making use of this application, you have consented to share the said information for availing of services provided by Blue Star.
        </p>

        <p class="review-message">
          Blue Star is strongly committed to protecting the privacy of its customers and has taken all necessary and reasonable measures to protect the confidentiality of the customer information and its transmission through the world wide web and it shall not be held liable for disclosure of the confidential information when in accordance with this privacy Commitment or in terms of the agreements, if any, with the Customers. Blue Star shall not be liable for any loss due to access to any third party website through any links on the application. You shall not put up any information on or make use of the application in any manner in violation of any applicable laws.
        </p>

        <p class="review-message">
          Blue Star endeavours to safeguard and ensure the security of the information provided by the Customer. For us to serve you better, you consent to receiving marketing communication from Blue Star.
        </p>

        <p class="review-message">
          Blue Star undertakes not to disclose the information provided by the Customers to any person, unless such action is necessary to:
        </p>

        <p class="review-message">
          Conform to legal requirements or comply with legal process; Protect and defend Blue Star r its Affiliates' rights, interests or property; Enforce the terms and conditions of the products or services; or
        </p>

        <p class="review-message">
          The Customer shall not disclose to any other person, in any manner whatsoever, any information relating to Blue Star or its Affiliates of a confidential nature obtained in the course of availing the services through the Blue Star mobile application. Failure to comply with this obligation shall be deemed a serious breach of the terms herein and shall entitle Blue Star or its Affiliates to terminate the services, without prejudice to any damages, to which the customer may be entitled otherwise.
        </p>
      </div>
    </div>
  </div>
</ion-content>
