<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <img class="logo" src="assets/logo.png">
    <!-- <ion-title>Terms of Use</ion-title> -->
    <ion-buttons slot="end">
      <ion-icon name="home-outline" class="home_icon" [routerLink]="['/categories']"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="food-details-content">
  <div class="reviews-wrapper">
    <h3 class="detail-title">Terms of Use</h3>
    <div class="reviews-list">
      <div class="review-item">
        <p class="review-message">
          By downloading or using the app, these terms will automatically apply to you – you should make sure therefore that you read them carefully before using the app. Only temporary non-exclusive license to use this app is being given to you for your own personal use without cost, but you should be aware that you shall not send it on to anyone else, and you are not allowed to copy, or modify the app, any part of the app, or our trademarks in any way. You are not allowed to attempt to extract the source code of the app, and you also shouldn’t try to translate the app into other languages, or make derivative versions. The app itself, and all the trade marks, copyright, database rights and other intellectual property rights related to it, belong to Blue Star.
        </p>

        <p class="review-message">
          Blue Star is committed to ensuring that the app is as useful and efficient as possible. For that reason, the company reserves the right to make changes to the app or to charge for its services, at any time and for any reason. Do note that no charges will be applied without making it very clear to you exactly what you are paying for.
        </p>

        <p class="review-message">
          The Blue Star app stores and processes personal data that you have consented to provide via the app so that you can log and track your complaint tickets. It’s your responsibility to keep your phone and access to the app secure. It is therefore recommended that you do not jailbreak or root your phone, or adopt any other process for removing software restrictions and limitations imposed by the official operating system of your device. It could make your phone vulnerable to malware/viruses/malicious programs, compromise your phone’s security features and it could result in the improper functioning of the Blue Star app.
        </p>

        <p class="review-message">
          Certain functions of the app will require the app to have an active internet connection. The connection can be through Wi-Fi, or provided by your mobile network provider. Do note that Blue Star cannot take responsibility for non-functioning of the app if your access to the internet is disrupted for any reason. Blue Star shall not be responsible for any loss due to access to internet in any insecure network.
        </p>

        <p class="review-message">
          If you’re using the app outside of an area with Wi-Fi, you should remember that your terms of agreement with your mobile network provider will still apply. As a result, you may be charged by your mobile provider for the cost of data for the duration of the connection while accessing the app, or other third party charges. In using the app, you’re accepting responsibility for any such charges, including roaming data charges if you use the app outside of your home territory (i.e. region or country) without turning off data roaming. If you are not the bill payer for the device on which you’re using the app, please be aware that we assume that you have received permission from the bill payer for using the app.
        </p>

        <p class="review-message">
          At some point, the company may release an updated version of the app. The app is currently available on Android and iOS – the requirements for both systems (and for any additional systems we decide to extend the availability of the app to) may change, and you’ll need to download the updates if you want to keep using the app. Blue Star does not promise that it will always update the app so that it is relevant to you and/or works with the iOS/Android version that you have installed on your device. The company may wish to stop providing the app, and may terminate use of it at any time without giving notice of termination to you. Unless we tell you otherwise, upon any termination, (a) the rights and licenses granted to you in these terms will end; (b) you must stop using the app, and (if needed) delete it from your device.
        </p>
      </div>
    </div>
  </div>
</ion-content>
